################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/obj
/bin/Debug
/.vs
/Produire.Sensor.csproj.user
/bin/Release/Windows.winmd
/bin/Release/utopiat.Host.dll
/bin/Release/utopiat.Control.dll
/bin/Release/Produire.Core.dll
